## Create a Connection to the SQL Lite database and connect to the server

In [1]:
import sqlite3 as db

conn = db.connect('identifier.sqlite')

c = conn.cursor()

### Create a Table called sales

In [2]:
#c.execute is needed to execute any sql command in jupiter notebook
c.execute('DROP TABLE IF EXISTS sales')

#Create a table, add column names and its types
c.execute('CREATE TABLE sales (customer_id VARCHAR(1), order_date DATE, product_id INTEGER)')

#Create a list of lists with all the rows of the table
more_sales = [ ('A', '2021-01-01', '1'),
  ('A', '2021-01-01', '2'),
  ('A', '2021-01-07', '2'),
  ('A', '2021-01-10', '3'),
  ('A', '2021-01-11', '3'),
  ('A', '2021-01-11', '3'),
  ('B', '2021-01-01', '2'),
  ('B', '2021-01-02', '2'),
  ('B', '2021-01-04', '1'),
  ('B', '2021-01-11', '1'),
  ('B', '2021-01-16', '3'),
  ('B', '2021-02-01', '3'),
  ('C', '2021-01-01', '3'),
  ('C', '2021-01-01', '3'),
  ('C', '2021-01-07', '3')]

#Insert rows into sales
c.executemany('INSERT INTO sales VALUES (?,?,?)', more_sales)

#commit this back to the database
conn.commit()

In [3]:
#put the sales table into a dataframe
import pandas as pd
df = pd.read_sql_query('select * from sales', conn)

print(df)

   customer_id  order_date  product_id
0            A  2021-01-01           1
1            A  2021-01-01           2
2            A  2021-01-07           2
3            A  2021-01-10           3
4            A  2021-01-11           3
5            A  2021-01-11           3
6            B  2021-01-01           2
7            B  2021-01-02           2
8            B  2021-01-04           1
9            B  2021-01-11           1
10           B  2021-01-16           3
11           B  2021-02-01           3
12           C  2021-01-01           3
13           C  2021-01-01           3
14           C  2021-01-07           3

In [30]:
#c.execute is needed to execute any sql command in jupiter notebook
c.execute('DROP TABLE IF EXISTS menu')

#Create a table, add column names and its types
c.execute('CREATE TABLE menu (product_id INTEGER, product_name VARCHAR(5), price INTEGER)')

#Create a list of lists with all the rows of the table
more_menu = [ ('1', 'sushi', '10'),
  ('2', 'curry', '15'),
  ('3', 'ramen', '12'),]

#Insert rows into menu
c.executemany('INSERT INTO menu VALUES (?,?,?)', more_menu)

#commit this back to the database
conn.commit()